[agent]
expertMode = true

[workflows]

[[workflows.workflow]]
name = "prog"
mode = "sequential"
author = 35906552

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash scripts/start-web.sh"

[[ports]]
localPort = 5000
externalPort = 80
